.ebuka > .income {
    font-size: 10rem;
    border: 3px solid #ffffff;
    /* border-radius: 40px; */

    background-image: radial-gradient(circle, white, green );
    color: white;
}
.ebuka > .expense {
    font-size: 10rem;
    border: 3px solid #ffffff;
    /* border-radius: 40px; */


    background-image: radial-gradient(circle, white, red );
    color: white;
}
