.ebuka > .income {
    font-size: 10rem;
    background-color: rgb(173, 110, 26);
    border-bottom: 10px solid green;
color: white;
}
.ebuka > .expense {
    border-bottom: 10px solid red;
    background-color: rgb(95, 44, 143);
    color: white;
}
